@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: #3a4750;
    font-family: "Josefin Sans", sans-serif;
}

.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

ul{
    padding-left: 0%;
}

a{
    text-decoration: none;
}
/* Navbar */
.navbar{
    background-color: #be3144;
    color: #d3d6db;
    padding: 20px 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
}

.navbar-logo-header{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #303841;
    font-size: 26px;
    letter-spacing: 5px;
}
#nav-two{
    color: #d3d6db;
}
.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-links{
    text-decoration: none;
    color: #d3d6db;
}
.nav-items{
    font-size: 26px;
}
.nav-items + .nav-items{
    margin-left: 30px;
}

.nav-links:hover{
    color: #ffffff;
}

/* Header */
.header{
    padding: 30px 0px 10px;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 21px;
    color: #303841;
}
.header-title{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    letter-spacing: 5px;

    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 30px;
    user-select: none;
}
.header-img{
    width: 15%;
    border-radius: 10px;
    border: 5px solid #be3144;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    margin-bottom: 20px;
    transition: box-shadow 0.25s ease-in;
}
.header-img:hover{
    box-shadow: 0px 0px 70px #be3144;
}
.header-first{
    color: #d3d6db;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.h-pink{
    color: #be3144;
    font-size: 2.5rem;
}
.famous-for{
    color: #fff ;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.category-text{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    color: darkgray;
    font-weight: 800;
    /* border: 2px solid darkgray; */
    padding: 10px 30px;
    border-radius: 10px;
}
.header-img-div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header-img-items{
    width: 10vw;
    height: 10vw;
    background-color: #303841;
    border: 2px solid #be3144;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.25s ease;
}
.header-img-items:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px #be3144;
    
}
.header-img-items img{
    object-fit: cover;
}

/* shop now button section */

.shop-now-btn-section{
    margin: 20px auto 50px;
    display: flex;
    justify-content: center;
}

/* footer */
footer{
    background-color: #be3144;
    padding: 50px 0px 100px;
    
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 0%;
}
.footer-links{
    text-decoration: none;
    color: #3a4750;
}
.footer-links:hover{
    color: #303841;
}
.github-logo{
    margin-right: 5px;
}
/* sale-section */
.sale-section{
    display: block;
}
.sale-container{
    display: flex;
    justify-content: center;
}
.sale-img{
    width: 200px;
}

/* PAGES */
/* Error Page */
.errorDiv{
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.errorDiv>h1, .errorDiv>h3{
    color: #be3144;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 10px;
}
.errorDiv>p{
    color: #d3d6db;
    line-height: 30px;
}

/* contact-page */
.contacts{
    padding: 50px 10px;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #d3d6db;
}
.contacts-container>h1{
    color: #be3144;
    font-size: 2.5rem;
}

.contact-list{
    font-size: 1.5em;
}
.contact-items{
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}
.contact-items>span>i{
    color: #be3144;
    margin-right: 10px;
}
.contact-points{
    color: #be3144;
    font-weight: 700;
}
.contact-links{
    text-decoration: none;
    color: #d3d6db;
}

/* shopping-page */
.shopping{
    padding: 20px 0px 100px;
}
.shopping-container{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-cart-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid #d3d6db; */
}
.cartBtn-div{
    display: flex;
    gap: 10px;
    color: #be3144;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
}

.shopping-cards-container{ 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 50px;
    column-gap: 35px;
}

/* Card */
.card{
    max-width: 300px;
    max-height: 550px;
    background-color: #be3144;
    border-radius: 5px;
}
.card-img-div{
    width: 100%;
    height: 40%;
    background-color: #fff;
    overflow: hidden;  
    border-radius: 5px 5px 0px 0px;
}
.card-img{
    width: 100%;
    overflow: hidden;   
}
.card-details-div{
    height: 60%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 0.8rem;
    color: #d3d6db;
}
.card-details-title{
    font-size: 0.8rem;
    color: #d3d6db;
    line-height: 1.5rem;
}
.card-points{
    color: #303841;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}
.card-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#addToCartBtn{
    color: #d3d6db;
    background-color: #303841;
    padding: 5px 10px;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
}
#addToCartBtn:active{
    border: 2px solid #727882;
}
.card-price{
    font-size: 1.5rem;
    color: #fff;
}

/* Cart-Page */
.cart-container{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.cart-page-items-container{
    width: 100%;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* justify-items: center; */
    row-gap: 10px;
    column-gap: 10px;
}
.cart-page-items{
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border: 2px solid #be3144; */
    background-color: #727882;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
}
.cart-page-img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: #fff ;
}
.cart-page-img>img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.cart-page-items-infos{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
    gap: 10px;
}
.cart-page-items-infos-upper{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-page-items-infos-lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}
.cart-page-items-infos-lower-btnDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartBtns, .cart-item-delete-btn{
    background-color: #be3144;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: 600;
    color: #d3d6db;
}
.cart-item-delete-btn{
    background-color: #727882;
    color: #be3144;
    padding: 0%;
}
.cart-item-delete-btn:active, .cartBtns:active{
    background-color: #727882;
}
.empty-cart{
    /* border:2px solid #d3d6db; */
    height: 200px;
    width: 80vw;
    margin: 0 auto;
    color: #727882;
    display: flex;
    gap: 15px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}
.subTotal-checkOut{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid #d3d6db; */
    width: 80vw;
}
.subTotal-checkOut>p{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 1.5rem;
    color: #fff;
}
.subTotal-checkOut>p>span{
    color: #727882;
}

/* shimmer-effects */
/* shimmer-shopping-page */
.shimmer-shopping{
    padding: 100px 0px;
    user-select: none;
}
.shimmer-shopping-container{
    border: #d3d6db;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 50px;
    column-gap: 35px;
}
.shimCard{
    width: 250px;
    height: 400px;
    background-color: #303841;
    border-radius: 10px;
}
.shimCardUpper{
    width: 100%;
    height: 40%;
    background-color: #727882;
    border-radius: 5px 5px 0px 0px;
}
.shimCard-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.shimCardLower{
    height: 60%;
}
.shimCard-items{
    width: 80%;
    height: 20px;
    background-color: #727882;
    border-radius: 5px;
}
.shimCard-items:last-child{
    width: 40%;
}

@media (max-width: 600px){
    /* .container{
        width: 95%;
        margin: 0 auto;
    } */
    /* navbar */
    .navbar{
        padding: 10px 0px;
    }
    .nav-container{
        flex-direction: column;
    }
    .navbar-logo-header{
       flex-direction: column;
       text-align: center;
    }
    .nav-list{
       padding-left: 0%;
    }

    /* header */
    .header{
        padding: 10px 0px;
    }
    .header-container{
        gap: 15px;
    }
    .header-title{
        flex-direction: column;
        gap: 0px;
    }
    .h-pink{
        font-size: 2rem; 
    }
    .header-img{
        width: 80%;
        margin-bottom: 20px;
    }
    .famous-for{
        text-align: center;
        margin-bottom: 30px;
        line-height: 50px;
    }
    .header-img-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-img-items{
        width: 100px;
        height: 100px;
    }
    .category-text{
        font-size: 1rem;
        padding: 10px 30px;
    }

    /* footer */
    .footer-list{
        flex-direction: column;
    }

    /* Contact-page */
    .contacts-container{
        text-align: center;
        gap: 20px;
        font-size: 0.75rem;
    }
    .contacts-container>h1{
        font-size: 2rem;
    }
    .contact-list{
        gap: 20px;
    }
    .contact-items{
        flex-direction: column;
    }
    .contact-items + .contact-items{
        margin-top: 20px;
    }

    /* cart-page */
    .cart-container{
        padding: 20px 0px;
    }
    .subTotal-checkOut{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    /* shimmer-shopping-page */
    .shimmer-shopping{
        padding: 50px 0px;
    }
}