    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: #3a4750;
    font-family: "Josefin Sans", sans-serif;
}

.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

ul{
    padding-left: 0%;
}

a{
    text-decoration: none;
}
/* Navbar */
.navbar{
    background-color: #be3144;
    color: #d3d6db;
    padding: 20px 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
}

.navbar-logo-header{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #303841;
    font-size: 26px;
    letter-spacing: 5px;
}
#nav-two{
    color: #d3d6db;
}
.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-links{
    text-decoration: none;
    color: #d3d6db;
}
.nav-items{
    font-size: 26px;
}
.nav-items + .nav-items{
    margin-left: 30px;
}

.nav-links:hover{
    color: #ffffff;
}

/* Header */
.header{
    padding: 30px 0px 10px;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 21px;
    color: #303841;
}
.header-title{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    letter-spacing: 5px;

    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 30px;
    user-select: none;
}
.header-img{
    width: 15%;
    border-radius: 10px;
    border: 5px solid #be3144;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    margin-bottom: 20px;
    transition: box-shadow 0.25s ease-in;
}
.header-img:hover{
    box-shadow: 0px 0px 70px #be3144;
}
.header-first{
    color: #d3d6db;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.h-pink{
    color: #be3144;
    font-size: 2.5rem;
}
.famous-for{
    color: #fff ;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.category-text{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    color: darkgray;
    font-weight: 800;
    /* border: 2px solid darkgray; */
    padding: 10px 30px;
    border-radius: 10px;
}
.header-img-div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header-img-items{
    width: 10vw;
    height: 10vw;
    background-color: #303841;
    border: 2px solid #be3144;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.25s ease;
}
.header-img-items:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px #be3144;
    
}
.header-img-items img{
    object-fit: cover;
}

/* shop now button section */

.shop-now-btn-section{
    margin: 20px auto 50px;
    display: flex;
    justify-content: center;
}

/* footer */
footer{
    background-color: #be3144;
    padding: 50px 0px 100px;
    
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 0%;
}
.footer-links{
    text-decoration: none;
    color: #3a4750;
}
.footer-links:hover{
    color: #303841;
}
.github-logo{
    margin-right: 5px;
}
/* sale-section */
.sale-section{
    display: block;
}
.sale-container{
    display: flex;
    justify-content: center;
}
.sale-img{
    width: 200px;
}

/* PAGES */
/* Error Page */
.errorDiv{
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.errorDiv>h1, .errorDiv>h3{
    color: #be3144;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 10px;
}
.errorDiv>p{
    color: #d3d6db;
    line-height: 30px;
}

/* contact-page */
.contacts{
    padding: 50px 10px;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #d3d6db;
}
.contacts-container>h1{
    color: #be3144;
    font-size: 2.5rem;
}

.contact-list{
    font-size: 1.5em;
}
.contact-items{
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}
.contact-items>span>i{
    color: #be3144;
    margin-right: 10px;
}
.contact-points{
    color: #be3144;
    font-weight: 700;
}
.contact-links{
    text-decoration: none;
    color: #d3d6db;
}

/* shopping-page */
.shopping{
    padding: 20px 0px 100px;
}
.shopping-container{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-cart-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid #d3d6db; */
}
.cartBtn-div{
    display: flex;
    gap: 10px;
    color: #be3144;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
}

.shopping-cards-container{ 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 50px;
    column-gap: 35px;
}

/* Card */
.card{
    max-width: 300px;
    max-height: 600px;
    background-color: #be3144;
    border-radius: 5px;
}
.card-img-div{
    width: 100%;
    height: 40%;
    background-color: #fff;
    overflow: hidden;  
    border-radius: 5px 5px 0px 0px;
}
.card-img{
    width: 100%;
    overflow: hidden;   
}
.card-details-div{
    height: 60%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    font-size: 0.8rem;
    color: #d3d6db;
}
.card-details-title{
    font-size: 0.8rem;
    color: #d3d6db;
    line-height: 1.5rem;
}
.card-points{
    color: #303841;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}
.card-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
a.view-product{
    color: #fd6c7f;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    text-decoration: underline;
}
.addToCartBtn, .product-addToCartBtn{
    color: #d3d6db;
    background-color: #303841;
    padding: 5px 10px;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
}
.addToCartBtn:active{
    border: 2px solid #727882;
}
.card-price{
    font-size: 1.5rem;
    color: #fff;
}
/* Product-Page */
#productInfo-back-cart-div{
    padding-top: 20px;
}
.product-container{
    display: flex;
    width: 80%;
    background-color: #727882;
    margin: 50px auto;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    color: #303841;
    font-weight: 800;
    border-radius: 10px;
}
.product-img-div{
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product-img-div>img{
    object-fit: cover;
    object-position: center;
    width: 100%; 
    border-radius: 10px 0px 0px 10px;
}
.product-details-div{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.product-details-items{
    display: flex;
    flex-direction: column;
}
.p-d-i-infos{
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0px;
    color: #fff;
    margin-top: 5px;
    font-weight: 400;
    line-height: 1.2rem;
}
.product-addToCartBtn{
    color: #fff;
    background-color: #be3144;
    align-self: stretch;
    cursor: pointer;
}
.product-addToCartBtn:active{
    background-color: #fd6c7f;
}

/* Cart-Page */
.cart-container{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.cart-page-items-container{
    width: 100%;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* justify-items: center; */
    row-gap: 10px;
    column-gap: 10px;
}
.cart-page-items{
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border: 2px solid #be3144; */
    background-color: #727882;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
}
.cart-page-img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: #fff ;
}
.cart-page-img>img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.cart-page-items-infos{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
    gap: 10px;
}
.cart-page-items-infos-upper{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-page-items-infos-lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}
.cart-page-items-infos-lower-btnDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartBtns, .cart-item-delete-btn{
    background-color: #be3144;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: 600;
    color: #d3d6db;
}
.cart-item-delete-btn{
    background-color: #727882;
    color: #be3144;
    padding: 0%;
}
.cart-item-delete-btn:active, .cartBtns:active{
    background-color: #727882;
}
.empty-cart{
    /* border:2px solid #d3d6db; */
    height: 200px;
    width: 80vw;
    margin: 0 auto;
    color: #727882;
    display: flex;
    gap: 15px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}
.subTotal-checkOut{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid #d3d6db; */
    width: 80vw;
}
.subTotal-checkOut>p{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 1.5rem;
    color: #fff;
}
.subTotal-checkOut>p>span{
    color: #727882;
}
/* Bill Page */
.bill-container{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.bill-container>button{
    align-self: flex-start;
}
.bill-userForm-div{
   display: flex;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
   gap: 30px;
}
.bill-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* margin-top: 25px; */
    font-family: monospace;
    background-color: #d3d6db;
    border-radius: 5px;
    padding: 10px;
    user-select: none;
}
.bill-div-Items{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
}
.bill-div-Items:last-child{
    border: none;
}
#bill-total-Amount{
    font-weight: 800;
    font-size: 1.5rem;
}
/* user-Info-form */
.user-Info-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-Info-form>h3{
    color: #be3144;
}
.user-Info-form>label{
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 2px;
}
.user-Info-form>input, .user-Info-form>textarea{
    background-color: #d3d6db;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}
.user-Info-form>input:focus, .user-Info-form>textarea:focus{
    border: 2px solid #be3144;
    outline: none;
}
.check-out-btn{
    background-color: #be3144;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    margin-top: 10px;

    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 1rem;
    color: #fff;
}
.check-out-btn:hover{
    background-color: #fd6c7f;
}

/* Modal */
.modal {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #be3144;
    margin: 15% auto; 
    padding: 30px;
    color: #d3d6db;
    
    width: 20em; 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
  }
  .modal-content>a{
   width: 100%;
   position: relative;
  }
  .modal-content>a>button{
    justify-self: flex-end;
    position: absolute;
    right: 0px;

    background-color: #be3144;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: #d3d6db;
    font-size: 1.1rem;
  }
  
  .thank-you-img-div{
    width: 30%;
    margin-top: 20px;
  }
  .thank-you-img-div>img{
    width: 100%;
  }
  .order-place-div{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #303841;
  }
  .order-place-div>span{
    /* font-size: 1.1rem; */
    text-transform: capitalize;
    font-weight: 900;
  }
  .modal-text{
        font-size: 0.9rem;
  }
  #thank-you-text{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 0.8rem;
    color: #fd6c7f;
  }
  #one-stop-text{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    color: #303841;
    font-weight: 600;
    border: 1px solid #303841;
    padding: 0px 2px;
  }
  #stop{
    color: #d3d6db;
    
  }

/* shimmer-effects */
/* shimmer-shopping-page */
.shimmer-shopping{
    padding: 100px 0px;
    user-select: none;
}
.shimmer-shopping-container{
    border: #d3d6db;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 50px;
    column-gap: 35px;
}
.shimCard{
    width: 250px;
    height: 400px;
    background-color: #303841;
    border-radius: 10px;
}
.shimCardUpper{
    width: 100%;
    height: 40%;
    background-color: #727882;
    border-radius: 5px 5px 0px 0px;
}
.shimCard-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.shimCardLower{
    height: 60%;
}
.shimCard-items{
    width: 80%;
    height: 20px;
    background-color: #727882;
    border-radius: 5px;
}
.shimCard-items:last-child{
    width: 40%;
}
/* Shimmer-product-info */
.shimmer-productInfo-container{
    padding: 50px 0px;
    user-select: none;
}
.shimmer-productInfo{
    padding: 30px 0px;
}
.shimmer-product-mainDiv{
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
}
.shimmer-product-upper{
    width: 50%;
    height: 100%;
    background-color: #727882;
    border-radius: 10px 0px 0px 10px;
}
.shimmer-product-lower{
    width: 50%;
    height: 100%;
    background-color: #303841;
    border-radius: 0px 10px 10px 0px;
}
.shimmer-productInfo-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding-inline: 20px;
}
.shimmer-productInfo-items{
    height: 1.5rem;
    width: 100%;
    background-color: #727882;
    border-radius: 10px;
}
.shimmer-productInfo-items:first-child, .shimmer-productInfo-items:nth-child(5){
    width: 50%;
    align-self: flex-start;
}
.shimmer-productInfo-items:last-child{
    width: 30%;
    align-self: center;
}

@media (max-width: 600px){
    /* .container{
        width: 95%;
        margin: 0 auto;
    } */
    /* navbar */
    .navbar{
        padding: 10px 0px;
    }
    .nav-container{
        flex-direction: column;
    }
    .navbar-logo-header{
       flex-direction: column;
       text-align: center;
    }
    .nav-list{
       padding-left: 0%;
    }

    /* header */
    .header{
        padding: 10px 0px;
    }
    .header-container{
        gap: 15px;
    }
    .header-title{
        flex-direction: column;
        gap: 0px;
    }
    .h-pink{
        font-size: 2rem; 
    }
    .header-img{
        width: 80%;
        margin-bottom: 20px;
    }
    .famous-for{
        text-align: center;
        margin-bottom: 30px;
        line-height: 50px;
    }
    .header-img-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-img-items{
        width: 100px;
        height: 100px;
    }
    .category-text{
        font-size: 1rem;
        padding: 10px 30px;
    }

    /* footer */
    .footer-list{
        flex-direction: column;
    }

    /* Contact-page */
    .contacts-container{
        text-align: center;
        gap: 20px;
        font-size: 0.75rem;
    }
    .contacts-container>h1{
        font-size: 2rem;
    }
    .contact-list{
        gap: 20px;
    }
    .contact-items{
        flex-direction: column;
    }
    .contact-items + .contact-items{
        margin-top: 20px;
    }
    /* Product-Page */
    .product-container{
        flex-direction: column;
        width: 100%;
    }
    .product-img-div{
        width: 100%;
    }
    .product-img-div>img{
        border-radius: 10px 10px 0px 0px;
    }
    .product-details-div{
        width: 100%;
    }

    /* cart-page */
    .cart-container{
        padding: 20px 0px;
    }
    .subTotal-checkOut{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    /* Billing-Page */
    .bill-container{
        padding-bottom: 100px;
    }
    .bill-userForm-div{
        flex-direction: column;
    }
    .bill-div{
        width: 100%;
    }
    .user-Info-form{
        width: 100%;
    }
    /* MODAL */
    .modal-content{
        width: 15em;
        font-size: 1rem;
        margin: 50% auto;
    }
    .thank-you-img-div{
        width: 50%;
    }
    /* shimmer-shopping-page */
    .shimmer-shopping{
        padding: 50px 0px;
    }

    /* shimmer-productInfo */
    .shimmer-product-mainDiv{
        flex-direction: column;
    }
    .shimmer-product-upper{
        width: 100%;
        height: 50%;
        border-radius: 10px 10px 0px 0px;
    }
    .shimmer-product-lower{
        padding: 20px 0px;
        width: 100%;
        height: 50%;
        border-radius: 0px 0px 10px 10px;
    }
    .shimmer-productInfo-items:nth-child(3n+0){
        display: none;
    }
}